@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');


* {
    color: rgb(0, 0, 0);
    font-family: 'Sigmar', cursive;
}

body {
    background-color: rgb(106, 106, 223);
    
}

.titulo, .comida-titulo, .comida-imagen, .comida-Precio, .comida-description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenido-carta {
    display: flex;
    justify-content: center;
    margin: 2vw;
    
}


img {
    width: 20vw;
}


.column {
    margin: 1vw;
}

.contenedor-comida {
    background-color: rgba(255, 255, 255, 0.582);
    padding: 2vh;
    
}

.contenedor-comida {
    max-width: 80vw;
    margin: 0 auto; 
  }


h1 {
    font-size: 4vw;
}

p {
    font-size: 1.1vw;
    text-align: center;
}


@media only screen and (max-width: 700px) {
    
.contenido-carta {
    display: block;
    justify-content: center;
    align-items: center;
     margin: 2vw;
    
    }
.contenedor-comida {
    justify-content: right;
}

p {
    font-size: 60%;
}

.responsive-design  {
    display: flex;
}

.contenido-carta {
    size-adjust: calc(1px+1vw);
}

h6 {
    font-size: 80%;
}

}