@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');


* {
    color: rgb(0, 0, 0);
    font-family: 'Sigmar', cursive;
}

body {
    background-image: url(https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
    background-size: cover;
    background-position: center top;
    
}

.titulo, .comida-titulo, .comida-imagen, .comida-Precio, .comida-description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenido-carta {
    display: flex;
    justify-content: center;
    margin: 2vw;
    
}


img {
    width: 20vw;
}


.column {
    margin: 1vw;
}

.contenedor-comida {
    background-color: rgba(255, 255, 255, 0.582);
    padding: 2vh;
    
}

.contenedor-comida {
    max-width: 80vw;
    margin: 0 auto; 
  }



@media only screen and (max-width: 600px) {



}